/*  Menu.aspx*/

@font-face {
    font-family: HanHeiSC-Text;
    src: url('/demo/assets/font/HanHeiSC-Text.otf');
}
@font-face {
    font-family: 'HanHeiSC-Semibold';
    src: url('/demo/assets/font/HanHeiSC-Semibold.otf') format('opentype');
}

.hanheiSCText {
    font-family: HanHeiSC-Text;
}

.navbar {
    background-color: #3CB371;
}

.user-menu {
    width: 350px; /*2016.3.15*/
}

    .user-menu > li:last-child {
        background-color: #FFFFFF; /*2016.3.15*/
    }

.dropdown-menu {
    padding-top: 0; /*2016.3.15*/
}

.myCol-xs-4 { /*2016.3.15*/
    margin-top: 10%;
    height: 100%;
    margin-right: 0;
}

.myCol-xs-8 { /*2016.3.15*/
    color: #000000;
    margin-left: 0;
}

.myH4 { /*2016.3.15*/
    margin-bottom: 0;
}

.ListColAndRow {
    padding: 0;
    margin: 0;
    line-height: 15px !important;
    color: #000000;
}

.ListColAndRow2 {
    margin-top: 15px;
}

.myStyleBtn { /*2016.3.15*/
    background-color: #FFFFFF !important;
    color: #000000 !important;
    border: 1px solid #e6e6e6;
}

    .myStyleBtn:hover { /*2016.3.15*/
        background-color: #99CC33 !important;
        color: #FFFFFF !important;
        border-color: #FFFFFF;
    }
/* 2016.3.27 beginning*/
.btnGroup1 { /*2016.3.27*/
    height: 70px;
    color: #FFFFFF !important;
    background-color: #99CC33 !important;
    border: none;
    border-right: 7px solid #CCFF99;
}

    .btnGroup1:focus {
        background-color: #CCFF99 !important;
        color: #99CC33 !important;
        border-right: 7px solid #99CC33;
    }

    .btnGroup1:hover {
        background-color: #CCFF99 !important;
        color: #99CC33 !important;
        border-right: 7px solid #99CC33;
    }

.btnGroup2 { /*2016.3.27*/
    height: 70px;
    color: #FFFFFF !important;
    background-color: #FF6666 !important;
    border: none;
    border-right: 7px solid #FFCC99;
}

    .btnGroup2:focus {
        background-color: #FFCC99 !important;
        color: #FF6666 !important;
        border-right: 7px solid #FF6666;
    }

    .btnGroup2:hover {
        background-color: #FFCC99 !important;
        color: #FF6666 !important;
        border-right: 7px solid #FF6666;
    }

.btnGroup3 { /*2016.3.27*/
    height: 70px;
    color: #FFFFFF !important;
    background-color: #336699 !important;
    border: none;
    border-right: 7px solid #99CCCC;
}

    .btnGroup3:focus {
        background-color: #99CCCC !important;
        color: #336699 !important;
        border-right: 7px solid #336699;
    }

    .btnGroup3:hover {
        background-color: #99CCCC !important;
        color: #336699 !important;
        border-right: 7px solid #336699;
    }

.Int .col-xs-4 a {
    font-family: "HanHeiSC-Semibold";
    font-size: 30px;
    padding-top: 14px;
    padding-left: 14px;
}

    .Int .col-xs-4 a span:first-child {
        margin-left: 0;
    }



.myPage-header {
    margin-bottom: 0;
}

    .myPage-header h3 {
        font-family: "Microsoft YaHei";
    }

.my_row table tr td {
    font-size: 16px;
}

    .my_row table tr td i {
        margin-left: 10px;
        margin-right: 10px;
    }
/* 2016.3.27 end*/
.user-menu > li {
    padding-left: 20px;
}

    .user-menu > li > a {
        margin-left: -20px;
    }

        .user-menu > li > a:hover {
            color: #FFFFFF;
            background-color: #99CC33;
        }

    .user-menu > li > a {
        height: 38px;
        padding-top: 0;
    }

#bbb {
    background-color: #66CC99;
    height: 50px;
    padding-top: 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top-color: #3CB371;
    color: #3CB371;
}

.nav-tabs > li.active > a {
    color: #333333;
}

.nav-tabs > li > a:hover {
    color: #3CB371;
}

.nav-list > li > a {
    color: #333333;
}

    .nav-list > li > a:hover, .nav-list > li > a:focus {
        color: #99CC33;
    }

.ace-nav > li.open.light-blue > a {
    background-color: #99CC33 !important;
}

.nav-list .open > a, .nav-list .open > a:hover, .nav-list .open > a:focus {
    color: #3CB371;
}

.nav-list > li > a:focus {
    background-color: #f9f9f9;
    color: #3CB371;
}

.nav-list > li > a:hover {
    background-color: #FFF;
    color: #3CB371;
}

    .nav-list > li > a:hover:before {
        display: block;
        content: "";
        position: absolute;
        top: -1px;
        bottom: 0;
        left: 0;
        width: 3px;
        max-width: 3px;
        overflow: hidden;
        background-color: #3CB371;
    }

.nav-list > li a:hover > .arrow, .nav-list > li.active > a > .arrow, .nav-list > li.open > a > .arrow {
    color: #3CB371;
}

.nav-list > li.open > a {
    background-color: #fafafa;
    color: #3CB371;
}

.nav-list > li.active > a, .nav-list > li.active > a:hover, .nav-list > li.active > a:focus, .nav-list > li.active > a:active {
    background-color: #fff;
    color: #3CB371;
    font-weight: bold;
    font-size: 13px;
}

.nav-list > li .submenu > li > a:hover {
    text-decoration: none;
    color: #3CB371;
}

.nav-list > li .submenu > li.active > a {
    color: #3CB371;
}

.menu-min .nav-list > li:hover > a {
    color: #3CB371;
}

ul.nav.ace-nav {
    background-color: #3CB371;
    border-color: #3CB371;
}

    ul.nav.ace-nav li {
        border-color: #3CB371;
    }

.tab-content {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

/* exam.apsx*/


.panel-default > .panel-heading {
    background-color: #FFFFFF;
}

.mynavToexam {
    background-color: #FFFFFF;
}

.body1 {
    background-color: #f5f5f5;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #99CC33;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #99CC33;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, {
    background-color: #00935f;
}

.navbar-default .navbar-brand {
    color: #000000;
}

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #000000;
    }



.pull-right > li > a {
    padding: 15px 30px;
}

.bg > li > a {
    color: #000000;
}

    .bg > li > a:hover {
        background-color: #FFFFFF;
    }

.myanswer {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.radio, .checkbox {
    margin-left: 50px;
}

.myquestion {
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
}

.mychoice {
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .mychoice > ul > li {
        margin: 10px;
    }

ul {
    list-style-type: none;
}

h4 {
    font-family: SimHei;
}



/* ChangePwd.aspx*/

.myInput:focus {
    border-color: #4cae4c;
}

/*Login.html*/
.myA {
    color: #00BFFF; /*2016.3.15*/
}

    .myA:hover {
        color: #00BFFF; /*2016.3.15*/
    }

.exm {
    background-color: rgba(0,0,0,0);
    border: none;
}

.myrow {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
}

.myCols { /*2016.3.19*/
    height: 34px;
    padding-top: 6px;
}

.myRows { /*2016.3.19*/
    margin-top: 20px;
    margin-bottom: 20px;
}

/* score목paper목Library목person목message 풳쨿*/
.marginRight {
    margin-right: 5px;
}
/*2016.3.26*/
.mypanel-body {
    padding: 0;
}

    .mypanel-body table {
        margin: 0;
    }

        .mypanel-body table tr {
            height: 77px;
        }
            /*2016.3.27*/
            .mypanel-body table tr td {
                width: 150.33px;
            }

                .mypanel-body table tr td:first-child {
                    width: 50px;
                }

                .mypanel-body table tr td .td0 {
                    margin-left: 40%;
                    margin-top: 20px;
                }

                .mypanel-body table tr td .td1 {
                    width: 470px;
                }

                    .mypanel-body table tr td .td1 h4 {
                        margin: 0;
                        margin-bottom: 10px;
                    }

                    .mypanel-body table tr td .td1 p {
                        margin-left: 10px;
                        color: #A9A9A9;
                    }

                .mypanel-body table tr td .td3 {
                    margin-top: 20px;
                }

                .mypanel-body table tr td .td4 {
                    margin-top: 8%;
                }

/* ExamList*/
.mydate {
    border-radius: 4px !important;
}

.mydateDiv {
    padding-left: 15px !important;
    padding-right: 15px !important;
}


/* MessageShow  */
.myFont {
    font-size: 20px !important;
}
